# AWS
AWS_REGION = eu-central-1
AWS_BUCKET = epso-jobs-crawler
AWS_ACCESS_KEY_ID = xxx
AWS_SECRET_ACCESS_KEY = xxx
# AWS_SESSION_TOKEN (optional)

# Postgres DB settings
PG_HOST = localhost
PG_DATABASE = epso-jobs
PG_USERNAME = xxx
PG_PASSWORD = xxx